<!DOCTYPE html>
<html lang="en">

<head>
<title>Online Polling System</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .head{
    font-size: 35px;
    background-color: #1aa3ff;
    color: white;
    border: 3px solid black;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.slctall {
    width: auto;
    padding: 10px 18px;
    background-color:#4CAF50;
    color: white;
}
.link{
  color: white;
}



.link:hover{
  color: black;
}
  </style>

  <script>
    /*for filter*/
    $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

  /*for select all*/
    $(document).ready(function () {
  $('body').on('click', '#selectAll', function () {
    if ($(this).hasClass('allChecked')) {
        $('input[type="checkbox"]', '#voter-list').prop('checked', false);
    } else {
        $('input[type="checkbox"]', '#voter-list').prop('checked', true);
    }
    $(this).toggleClass('allChecked');
  })
});
    $(document).ready(function () {
    $('#submitButton').click(function(){
      //alert("Hello")
        var values = new Array();
       $.each($("input[name='voter[]']:checked"), function() {
           
           values.push($(this).val());             
       });
       //alert("Hi")
       xmlhttp = new XMLHttpRequest();
       xmlhttp.onreadystatechange = function() {
       // alert("this.readyState")
       };
      xmlhttp.open("POST", "/create/listvoters/");
      xmlhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
      var json = { "id" : JSON.stringify(values), "electionId":'{{electionId}}',"hostId":'{{hostId}}'}
      xmlhttp.send("data=" + JSON.stringify(json) );

 }) });
  </script>
  
</head>

<body onload="change_myselect()">
  <div class="well well-lg head">Select the ELIGIBLE Voters' list for the Election <em>{{electionName}}</em></div><br><br>

  
  <div class="container">
  
  <p>Type something in the input field to search for the table </p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <p id="demo"> </p>
</div> <br>
<div class="container">
  <button type="submit" id="submitButton"><a href="" class="link">Submit</a></button>
</div>
<script type="text/javascript">
    function change_myselect() {
    var obj, dbParam, xmlhttp, myObj, x, txt = "";
    xmlhttp = new XMLHttpRequest();
    console.log("Hello");
    xmlhttp.onreadystatechange = function() {
        console.log(this.readyState)
        if (this.readyState==4 && this.status == 200) {
            console.log(this.responseText);
            myObj = JSON.parse(this.responseText);
            console.log(myObj);
            txt += "<table id='voter-list' class='table table-bordered table-striped'>\n";
            txt+="<thead>\n";
            txt+="<tr>\n";
            txt+="<th><button type='button' id='selectAll' class='slctall link'>Select All</button></th>\n";
            txt+="<th>Name</th>\n";
            txt+="<th id='vId'>VoterID</th>\n";
            txt+="<th>Email</th>\n";
            txt+="<th>Phone Number</th>\n";
            txt+="</tr>\n";
            txt+="</thead>\n";
            txt+="<form action='/create/listvoters' method='POST'>\n";
            txt+="<tbody id='myTable'>\n";
            for (x in myObj) {
              txt+= "<tr><td><input type='checkbox' name='voter[]' value='"+(myObj[x].voterId).toString() +"' ></td>";
              txt += "<td>" + myObj[x].name + "</td>";
              txt += "<td>" + myObj[x].voterId + "</td>";
              txt += "<td>" + myObj[x].email + "</td>";
              txt += "<td>" + myObj[x].contact + "</td></tr>";
            }
            txt += "</tbody></form></table>";
            document.getElementById("demo").innerHTML = txt;
        }
    };
    xmlhttp.open("GET", "/voters");
    xmlhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
    xmlhttp.send();
}
  </script>
</body>
</html>